input {
    box-sizing: border-box;
}

.inputField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6vh;
    border-radius: 5vh;
    position: relative;
    background-color: #1B1340;
    transition: 0.5s background-color ease-in-out, 0.5s box-shadow ease-in-out;
    box-shadow: 0vh 0.5vh 2vh 0vh rgba(0, 0, 0, 0.2);
}

.inputField:hover {
    background-color: #1B1340;
}

.inputField.active {
    background-color: #ffffff;
}

.inputField.active input {
    padding: 6vh 2vw 3vh 1vw;
}

.inputField.active input+label {
    top: 0.3vh;
    left: 1vw;
    opacity: 1;
    color: #512da8;
}

.inputField.locked {
    pointer-events: none;
}

.inputField input {
    width: 100%;
    height: 3.5vh;
    position: relative;
    padding: 0vh 1vw;
    border: none;
    border-radius: 0.5vh;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 2vh;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    color: #282828;
    outline: none;
    box-shadow: 0vh 0.5vh 2vh 0vh transparent;
    transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out,
        0.1s padding ease-in-out;
}

.inputField input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.inputField input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.inputField input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.inputField input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.inputField input+label {
    position: absolute;
    top: 3vh;
    left: 2vw;
    font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
    font-size: 1.5vh;
    font-weight: 600;
    line-height: 3vh;
    color: #ffffff;
    opacity: 0;
    pointer-events: none;
    transition: 0.1s all ease-in-out;
}

/* .inputComponent {
    display: flex;
    flex-direction: "row";
} */

.inputFieldPredictedValues {
    padding: 1vh;
    display: none;
    position: absolute;
    background-color: #7266a7;
    color: #FFFFFF;
    font-size: 0.7em;
    font-style: normal;
    overflow: auto;
    box-shadow: 15px 15px 16px 8px #00000065;
    z-index: 1;
    top: 6vh;
    left: 1vw;
}

.inputFieldPredictedDropDown {
    border: 1px dotted #000000;
}

.inputFieldPredictedDropDown:nth-child(even) {
    background-color: #9383d8;
}

.inputFieldPasswordIcon {
    position: absolute;
    bottom: calc((6vh - 4vh)/ 2);
    top: 0.3vh;
    font-size: 4vh;
    right: 1vw;
    max-width: 4vw;
    cursor: pointer;
    text-shadow: 0 0 0.5vh #ffffff;
}

.inputFieldSearchIcon {
    position: absolute;
    bottom: calc((6vh - 4vh)/ 2);
    top: 1vh;
    font-size: 3vh;
    right: 1vw;
    max-width: 4vw;
    cursor: pointer;
    text-shadow: 0 0 0.5vh #ffffff;
    color: #000000;
}

.inputFieldCancelIcon {
    position: absolute;
    margin-right: 0.3vw;
    bottom: calc((6vh - 4vh)/ 2);
    top: 1vh;
    font-size: 3vh;
    max-width: 4vw;
    cursor: pointer;
    text-shadow: 0 0 0.5vh #ffffff;
    color: #000000;
}

.inputFieldError {
    width: 10vw;
    font-size: 1.5vh;
    color: #ec392f;
    text-shadow: none;
    flex-direction: row;
    user-select: none;
    justify-content: left;
    align-items: left;
}